@import '../../../scss/mixins.scss';
@import '../../../scss/var.scss';

main{
  height: calc(100vh - 50px);

  padding: 15px 15px;

  display: flex;
  align-items: flex-end;

  .container{
    width: 100%;
    display: flex;
    align-items: flex-end;

    @include responsive("mobile") {
      flex-direction: column;
      row-gap: 25px;
    }

    .team_info{
      width: 35%;

      @include responsive("mobile") {
        width: 100%;
      }

      ul{
        list-style: none;

        .team_member:hover .hidden{
          display: inline;
        }

        .hidden{
          display: none;
          color: $brand_green;

          @include responsive("mobile") {
            display: block;
          }
        }
      }
    }

    .social_info{
      display: flex;
      column-gap: 200px;

      @include responsive("mobile") {
        flex-direction: column;
        width: 100%;
        row-gap: 25px;
      }
    }
  }
}
