<main>
  <div class="container">
    <div class="team_info">
      <ul class="team_list">
        <a href="mailto:riccardo@es.design"> <p class="team_member"><span class="bold">Founder & Designer </span>Riccardo contini <span class="hidden">riccardo@es.design</span></p> </a>
        <a href="mailto:lucaricciwork@gmail.com"> <p class="team_member"><span class="bold">Art Director </span>Luca Ricci <span class="hidden">lucaricciwork@gmail.com</span></p> </a>
        <a href="mailto:camilla@es.design"> <p class="team_member"><span class="bold">Project Manager </span>Camilla Codemo <span class="hidden">camilla@es.design</span></p> </a>
        <a href="mailto:alberto@a-s.studio"> <p class="team_member"><span class="bold">Web Developer </span>Alberto De Maria <span class="hidden">alberto@a-s.studio</span></p> </a>
      </ul>
    </div>
    <div class="social_info">
      <div class="instagram_page">
        <a href="https://www.instagram.com/es.index/"><p><span class="bold">Instagram</span> @es.index</p></a>
      </div>
      <div class="email_contact">
        <a href="mailto:riccardo@es.design"><p><span class="bold">Email</span> riccardo@es.design</p></a>
      </div>
    </div>
  </div>
</main>
