@import '../../../scss/mixins.scss';

main{
  height: 100%;
  padding: 20px 15px;

  transition: .3s ease;

  .container{
    padding-bottom: 15px;

    .typing-container{
      display: flex;
      align-items: center;
      column-gap: 10px;

      position: sticky;
      top: 0;
      background-color: white;
      height: 88px;

      @include responsive("mobile"){
        display: none;
      }

      .arrow{
        width: 40px;
        height: auto;
      }

      .productsName{
        font-size: 88px;
        font-weight: 100;
        line-height: 1;
      }
    }

    .filters-container{
      padding: 20px 0;
      text-align: right;

      visibility: hidden;

      display: flex;
      justify-content: right;
      align-items: center;
      column-gap: 10px;

      @include responsive("mobile"){
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
      }

      button{
        border: 0;
        background-color: transparent;
      }

      p, button{
        font-size: 12px;
        cursor: pointer;
      }

      .filters-options{
        display: flex;
        column-gap: 5px;
        row-gap: 5px;

        @include responsive("mobile"){
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
    }

    .products-container, .eclissi-container{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;

      @include responsive("tablet"){
        grid-template-columns: repeat(3, 1fr);
      }

      @include responsive("mobile"){
        grid-template-columns: repeat(2, 1fr);
      }

      .product{
        cursor: pointer;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      .product-image{
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #f3f3f3;
        height: 280px;
      }

      .product-title{
        margin-top: 10px;
      }
    }
  }
}

.blackBg{
  background-color: #232323;
  color: white;
}

.blackTyping{
  background-color: #232323 !important;
  color: white;
}

.my-path-white{
  fill: white;
}
