<main>
  <div class="container">
    <div class="typing-container" id="typing-container">
      <svg class="arrow" version="1.1" id="border-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 47.3 46.1" style="enable-background:new 0 0 47.3 46.1;" xml:space="preserve">
        <g id="Livello_1-2">
          <g>
            <path id="my-path" fill="black" d="M17.9,46.1h11.5l8.1-10.4c0,0-0.3-23.7-13.8-35.7C10.1,12.1,9.8,35.7,9.8,35.7L17.9,46.1L17.9,46.1z"/>
          </g>
        </g>
      </svg>

      <p class="productsName">{{productName | uppercase}}</p>
    </div>
    <div class="filters-container">
      <p class="small" (click)="showFilters = !showFilters">FILTERS</p>
      <div class="filters-options" *ngIf="showFilters">
        <button (click)="filterProducts('')">ALL</button>
        <button (click)="filterProducts('ring')">RINGS</button>
        <button (click)="filterProducts('earrings')">EARRINGS</button>
        <button (click)="filterProducts('necklace')">NECKLACES</button>
        <button (click)="filterProducts('twins')">TWINS</button>
        <button (click)="filterProducts('bracelet')">BRACELETS</button>
      </div>
    </div>
    <div class="products-container">
      <div class="product" *ngFor="let product of products" (mouseover)="productOnHover(product.nome)" [routerLink]="['/shop/', product.id]">
        <div class="product-image" style="background-image: url('../../../assets/products/{{product.id}}.jpeg');"></div>
        <p class="product-title text">{{ product.nome | uppercase }}</p>
      </div>
    </div>
    <div class="eclissi-container" appScrollObserver>
      <div class="product" *ngFor="let product of productsEclissi" (mouseover)="productOnHover(product.nome)" [routerLink]="['/shop/', product.id]">
        <div class="product-image" style="background-image: url('../../../assets/products/{{product.id}}.jpeg');"></div>
        <p class="product-title text">{{ product.nome | uppercase }}</p>
      </div>
    </div>
  </div>
</main>
