@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-Thin-13.ttf) format("truetype");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-ThinItalic-14.ttf) format("truetype");
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-UltraLight-06.ttf) format("truetype");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-UltraLightItalic-07.ttf) format("truetype");
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-Light-08.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-LightItalic-09.ttf) format("truetype");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-01.ttf) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-Italic-03.ttf) format("truetype");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-Medium-11.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-MediumItalic-12.ttf) format("truetype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-BoldItalic-04.ttf) format("truetype");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-CondensedBold-05.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Helvetica Neue Imported';
  src: url(../assets/font/HelveticaNeue/HelveticaNeue-CondensedBlack-10.ttf) format("truetype");
  font-weight: 900;
  font-style: normal
}
